{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>Here user info:</p>
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>

{% if notifications %}
<div class="notifications">
    <h3>unread notifications:</h3>

    {% for notif in notifications %}
        <p>{{ notif.message }} <a href="{{ path('mark-notification-as-read', {'id': notif.id}) }}"> Mark as read</a> </p>
    {% endfor %}
</div>
{% endif %}